<div>
@winner = <%= @winner.name %>
@player_1 = <%= @player_1.name %>
@player_2 = <%= @player_2.name %>
@player_1_hit_miss_ratio = <%= @player_1_hit_miss_ratio %>
@player_2_hit_miss_ratio = <%= @player_2_hit_miss_ratio %>
@first_ship_sunk = <%= @first_ship_sunk.player.name %>'s <%= @first_ship_sunk.name %>
@last_ship_sunk = <%= @last_ship_sunk.player.name %>'s <%= @last_ship_sunk %>
</div>
